<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>Explore Courses Instant</h1>
        <p>Search for any Stanford course and get results quickly.</p>

        <input type="text" placeholder="CS 106A, Psychology, Social Dance..." />
      </header>

      <div class="results"></div>
    </div>

    <script type="text/template" class="courses-template">
      {% courses.forEach(function(course) { %}
        <div class="course">
          <h2>
            {{ course.subject }} {{ course.code }}: {{ course.title }}
            <button class="toggle">Expand</button>
          </h2>

          <div class="meta">
            {{ course.terms.join(', ') }} <span class="separator">&bull;</span>
            {{ course.instructors.slice(0, 2).join('; ') }}
            
            {% if (course.gers) { %}
              <span class="separator">&bull;</span>
              {{ course.gers }}
            {% } %}
          </div>

          <div class="condensed">
            <p class="description">{{ course.condensedDescription }}</p>
          </div>

          <div class="expanded">
            <p class="description">{{ course.description }}</p>

            <h3 class="schedule">Schedule</h3>
            {% course.sections.forEach(function(section, i) { %}
              <div class="section {% if (i === 0) { %} first {% } %}">
                <div class="term {{ section.term.toLowerCase() }}">
                  {{ section.term }}
                </div>

                <div class="meta">
                  {{ section.component }}

                  {% if (section.units) { %}
                    <span class="separator">&bull;</span>
                    {{ section.units }} units
                  {% } %}

                  {% if (section.instructors) { %}
                    <span class="separator">&bull;</span>
                    {{ section.instructors }}
                  {% } %}

                  <span class="separator">&bull;</span>
                  ID: {{ section.class_id }}
                </div>

                {{ section.schedule }}

                {% if (section.notes) { %}
                  <br />
                  Notes: {{ section.notes }}
                {% } %}
              </div>
            {% }); %}
          </div>
        </div>
      {% }); %} 
    </script>

    <script src="/js/underscore.min.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>
