body {
  background: #f6f6f6;
  font: 16px/1.5 "Source Sans Pro", "PT Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  margin-top: 0;
}

header h1 {
  font-size: 60px;
  font-family: "Courgette", "Georgia", "Times New Roman", "Times", Serif;
  margin-top: 0;
  margin-bottom: 10px;
}

header p {
  font-size: 22px;
  color: #888;
}

header input {
  width: 630px;
  border: 1px solid #ccc;
  padding: 6px 8px;
  outline: none;
  color: #666;
  margin-bottom: 10px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.wrapper {
  padding: 40px 0 40px 150px;
}

.main {
  width: 650px;
  margin-right: 50px;
  float: left;
}

.sidebar {
  width: 250px;
  float: left;
  font-size: 15px;
  padding-top: 170px;
}

.sidebar h2 {
  font-family: "Courgette", "Georgia", "Times New Roman", "Times", Serif;
}

.sidebar h3 {
  text-transform: uppercase;
  margin-bottom: 3px;
}

.sidebar input {
  margin-right: 5px;
}

.sidebar label {
  display: inline-block;
  width: 120px;
}

.sidebar .checkboxes {
  display: none;
}

.sidebar .active .checkboxes {
  display: block;
}

.results .empty {
  text-align: center;
  margin-top: 150px;
  font-size: 22px;
  color: #aaa;
}

.course h2 {
  margin-bottom: 0;
  font-weight: normal;
}

.course h2 .toggle, .sidebar h3 .toggle {
  font-weight: normal;
  float: right;
  font-size: 16px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  color: #3366bb;
  outline: none;
  margin-top: 2px;
  padding-bottom: 2px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-size: 14px;
}

.sidebar h3 .toggle {
  margin-top: 0;
}

.course h2 .toggle:hover, .sidebar h3 .toggle:hover {
  border-color: #3366bb;
}

.course .meta {
  overflow: hidden;
  color: #666;
  margin-bottom: 5px;
}

.course .separator {
  padding: 0 3px;
}

.course.active .expanded {
  display: block;
}

.course.active .condensed {
  display: none;
}

.course .expanded {
  display: none;
}

.course .schedule {
  margin-bottom: -7px;
}

.course .section {
  position: relative;
  border-top: 1px dotted #ccc;
  padding: 10px 0;
  font-size: 15px;
  color: #444;
}

.course .section.first {
  border-top: none;
}

.section .meta {
  margin-bottom: 0;
}

.section .term {
  position: absolute;
  left: -85px;
  top: 15px;
  text-transform: uppercase;
  color: #fafafa;
  padding: 3px 8px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-size: 14px;
}

.section .term.autumn {
  background-color: #C73232;
}

.section .term.winter {
  background-color: #3366bb;
}

.section .term.spring {
  background-color: #50b132;
}

.section .term.summer {
  background-color: #ff7732;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
